/__supplied/*
/__downloads/*
/__working/*

/app/wp/*
/app/content/languages/*/*
/app/content/plugins/*/*
/app/content/themes/*/*
/app/content/upgrade/*/*
/app/content/uploads/*/*
/app/wp-config.php

/vendor/*
